$lightGrey: #7f8c8d;
$darkGrey: #34495e;
$slate: #2d3e50;
$lightBlue: #18693b;
$medBlue: #18693b;
$lightGreen: #18693b;
$medGreen: #b3ff00;
$lightRed: #fce4e4;
$medRed: #cc0033;
$selectionColor: #00ffff;
